[Unit]
Description=RobLaude STM32 healthcheck (toutes les 2 min)

[Timer]
OnBootSec=120
OnUnitActiveSec=120
AccuracySec=10

[Install]
WantedBy=timers.target
